.PokemonCard:hover {
    transform: scale(1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.PokemonCard {
    margin-top: 10px;
    height: 360px;
    width: 250px;
    border-radius: 10px;
    border: 9px solid;
    border-color: rgb(255, 230, 0);
    background-color: rgb(255, 230, 176);
    text-align: center;

    transition: 0.2s ease;
    cursor: pointer;
}

pagination-controls {
    text-align: center;
}

.pokeball {
    width: 50px;
}

.disabled {
    box-shadow:none !important;
    transform: none;
    opacity: 70%;
}